# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
out
build
.turbo
.expo
expo-env.d.ts

# Environment
.env
.env.local
.env.*.local
!.env.example

# IDE
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# OS
.DS_Store
Thumbs.db

# Testing
coverage
playwright-report
test-results
blob-report

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Prisma
prisma/*.db
prisma/*.db-journal

# Misc
*.tsbuildinfo
.vercel
.railway
